[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
django = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.9"
