<footer class="text-white body-font bg-purple-800 mt-16">
  <div
    class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
  >
    <a
      class="
        flex
        title-font
        font-medium
        items-center
        md:justify-start
        justify-center
        text-white
      "
    >
      <span class="ml-3 text-xl">Letz Collab</span>
    </a>
    <p
      class="
        text-sm text-white
        sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0
        mt-4
      "
    >
      © 2021 Letz Collab —
      <a
        href="https://www.linkedin.com/in/jabezsanjay/"
        class="text-white ml-1"
        rel="noopener noreferrer"
        target="_blank"
        >@jabezsanjay</a
      >
    </p>
  </div>
</footer>
