{% load static %}

<header class="text-white body-font bg-purple-800">
  <div
    class="
      container
      mx-auto
      flex flex-wrap
      p-5
      flex-col
      md:flex-row
      items-center
      justify-center
    "
  >
    <nav class="flex lg:w-2/5 flex-wrap text-base md:ml-auto cursor-pointer">
      <a class="mr-5 hover:text-purple-300" href="{% url 'home' %}">Home</a>
      <a class="mr-5 hover:text-purple-300" href="{% url 'youtubers' %}">
        Youtubers
      </a>
      <a class="hover:text-purple-300" href="{% url 'contact' %}">Contact</a>
    </nav>
    <a
      class="
        flex
        order-first
        lg:order-none lg:w-1/5
        title-font
        font-medium
        items-center
        lg:items-center lg:justify-center
        mb-4
        md:mb-0
      "
    >
      <span class="ml-4 text-xl">Letz Collab</span>
    </a>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button
        class="
          inline-flex
          items-center
          bg-white
          border-0
          py-2
          px-5
          focus:outline-none
          hover:bg-gray-200
          rounded
          text-base
          mt-4
          md:mt-0
          text-purple-800
        "
      >
        Login
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </button>
    </div>
  </div>
</header>
